@tailwind base;
@tailwind components;
@tailwind utilities;

.Toastify__toast-theme--dark {
    background-color: #00000076 !important;
}

/* Add this to your CSS file */
.chat-container {
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
}

.messages-wrapper {
    flex: 1;
    overflow-y: auto;
    padding: 16px 32px; /* Adjust padding as needed */
}
